<nav class="navbar" style="background-color: #{{ .Site.Data.site.nav_bar_color}}; color: #{{.Site.Data.site.color}};">
    <!-- LOGO -->
    <a href="#">
        <div class="logo">
          <img class="logo" src="{{.Site.Data.site.logo}}" alt="logo">
        </div>
    </a>          

    <!-- NAVIGATION MENU -->
    <ul class="nav-links">
      <!-- USING CHECKBOX HACK -->
      <!-- <input type="checkbox" id="checkbox_toggle" />
      <label for="checkbox_toggle" class="hamburger">&#9776;</label> -->
    
      <!-- NAVIGATION MENUS -->
      <!-- <div class="menu">
        {{ range .Site.Menus.main }}
          <li>
            <a href="{{ .URL }}" style="color: #{{$.Site.Params.links_color}};">{{ .Name }}</a>
          </li>
        {{ end }}
      </div> -->

      <div class="menu">
        {{ range .Site.Menus.main }}
          <li>
            <a href="{{ .URL }}" style="color: #{{ $.Site.Data.site.color | safeCSS }};">{{ .Name }}</a>
          </li>
        {{ end }}
      </div>
      
    </ul>
  </nav>
